<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{comm/admin_layout}">
<head>
  <title>系统管理</title>
</head>
<body>

<div class="container"
     layout:fragment="content">
  <div class="card">
    <div class="card card-body">
      <h4>管理留言</h4>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>用户名</th>
          <th>留言</th>
          <th>创建时间</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="commentEntity : ${data.content}">
          <td th:text="${commentEntity.userName}"></td>
          <td th:text="${commentEntity.content}"></td>
          <td th:text="${commentEntity.createdDate}"></td>
          <td>
            <a class="btn btn-danger delBtn"
               th:href="@{/deleteComment/(id=${commentEntity.id})}">删除</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <ul class="nav nav-pills">
      <li class="nav-item"
          th:if="${data.totalPages} > 1"
          th:each="i : ${#numbers.sequence(0, data.totalPages - 1)}">
        <a class="nav-link"
           th:href="@{/admin/comments/(page=${i})}"
           th:text="${i} + 1"
           th:classappend="${data.number} == ${i} ? 'active' : ''"></a>
      </li>
    </ul>

  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="alert alert-danger">
            你确定要删除这个留言吗
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a href="" class="btn btn-danger" id="delRef">Delete</a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="../../static/js/main.js"
          th:src="@{/js/main.js}"></script>
</div>

</body>
</html>