<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content="Bootstrap Admin App + jQuery"/>
    <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin"/>
    <title>PzhUniversity | 登录</title>
    <link rel="icon" href="https://github.com/fluidicon.png" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/vendor/fontawesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/simple-line-icons/css/simple-line-icons.css}"/>
    <link rel="stylesheet" th:href="@{/media/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/media/css/app.css}"/>
    <link rel="stylesheet" th:href="@{/media/css/theme-i.css}"/>
  </head>
  <body>
  <div class="wrapper">
    <p th:if="${param.logout}" class="alert">You have bean logged out</p>
    <p th:if="${param.error}" class="alert alert-error">There was an error, please try again</p>
    <div class="block-center mt-xl wd-xl">
      <div class="panel panel-dark panel-flat">
        <div class="panel-heading text-center">
          <a href="/">
            <svg height="32" class="octicon octicon-mark-github" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
          </a>
        </div>
        <div class="panel-body" id="loginPage">
          <p class="text-center pv">请登录</p>
          <form id="form" th:action="@{/login}" action="/login" method="POST" data-parsley-validate="true">
            <div class="form-group has-feedback">
              <input type="text" name="username" placeholder="邮箱地址或登录名称" class="form-control" data-parsley-error-message="请输入邮箱地址或登录名称" required="required" />
              <span class="fa fa-envelope form-control-feedback text-muted"></span>
            </div>
            <div class="form-group has-feedback">
              <input type="password" name="password" placeholder="密码" class="form-control" data-parsley-error-message="请输入密码" required="required" />
              <span class="fa fa-lock form-control-feedback text-muted"></span>
            </div>
            <div class="clearfix">
              <div class="pull-right">
                <a href="/forgotPassword" class="text-muted">忘记密码？</a>
              </div>
            </div>
            <button class="btn btn-block btn-primary mt-lg" type="submit" id="login">登录</button>
          </form>
          <div id="errorMsg" class="alert alert-danger text-center" style="display:none;"></div>
          <p class="pt-lg text-center">需要注册？</p>
          <a href="/register" class="btn btn-block btn-default">现在就注册</a>
        </div>
      </div>
      <div class="p-lg text-center">
        <span>&copy;</span>
        <span>2018</span>
        <span>-</span>
        <span>2018</span>
        <br/>
        <span>790013438@qq.com</span>
      </div>
    </div>
  </div>
  </body>
  <script type="text/javascript" src="/webjarslocator/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjarslocator/vue/vue.min.js"></script>

  <script th:src="@{/vue-resource/0.7.0/dist/vue-resource.min.js}"></script>
  <script th:src="@{/vendor/parsleyjs/dist/parsley.min.js}"></script>
</html>
