<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>我的试卷&nbsp;&nbsp;试卷</title>

    <link th:href="@{/js/plugs/jquery-ui-1.10.3.custom/css/mycss/jquery-ui-1.10.3.custom.css}" rel="stylesheet"
                                                                                         type="text/css">
    <link th:href="@{/js/plugs/My97DatePickerBeta/My97DatePicker/skin/WdatePicker.css}" rel="stylesheet" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link th:href="@{/js/plugs/jquery-ui-1.10.3.custom/css/mycss/jquery-ui-1.10.3.custom.css}" rel="stylesheet"
                                                                                         type="text/css">
    <link th:href="@{/js/plugs/font-awesome-4.2.0/css/font-awesome.css}" rel="stylesheet">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <style type="text/css">
.surveyLeftBtnGroup a {
  color: #5A9ECD;
}

.header {
  background: #24292C;
}
        .btn-group a:hover {
          background: #317BCF;
          color: white;
          border-color: #317BCF;
        }

        .btn-group > .btn:not(:first-child) {
          margin-left: -1px;
        }

        .contacts-table tr td {
          font-size: 16px ! important;
        }

        .dialogBtn1 {
          border: none;
          font-size: 1em;
          font-weight: bold;
          cursor: pointer;
          padding: 8px 10px;
        }

        .dialogBtn1 .ui-button-text {
          padding: .4em 1em;
          display: block;
          line-height: normal;
        }

        button {
          outline: none;
        }

        .dialogMessage select, .dialogMessage input {
          padding: 5px;
          color: #333333;
          border: 1px solid #98C5C3;
        }
    </style>

    <link href="/css/dw-user.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <div class="container justify-content-center align-itshiems-center">
          <div class="row float-left">
            <div class="col-1 header_Item header_logo ">
              <a href="/"><img alt="试卷" src="/user/img/logo.png" align="middle" height="46"></a>
            </div>
            <div class="col-2 header_Item header_menu">
              <ul>
                <li><a href="/mySurveys" id="mysurvey" class="active">试卷</a></li>
              </ul>
            </div>
            <div class="col-2 float-left header_Item header_user">
              <a href="#" class="clickHideUserMenu">
                <span class="head_use_name" th:value="${mySurveys}"></span>
              </a>
            </div>
          </div>
          <div style="clear: both;"></div>
        </div>
        <div style="clear: both;"></div>
        <div id="dwBody" style="margin-top: 15px;">
          <div id="dwBodyContent">
            <div id="dwBodyUser">
              <div class="surveyCollectMiddle">
                <div class="surveyCollectMiddleContent">
                  <div style="padding: 25px 45px;overflow: auto;padding-top: 20px;">
                    <div style="padding: 5px;color: #666565;letter-spacing: 2px;">
                      所有试卷&nbsp;&nbsp;|&nbsp;&nbsp;
                      <a href="/mySurveyCreate" id="surveyAdd-a"
                                                style="outline: none;text-decoration: none;"><i
                                                class="fa fa-plus " aria-hidden="true"></i>&nbsp;新建试卷</a>
                    </div>
                    <form action="/mySurvey" method="post">
                      <div class="contacts_search" style="padding: 5px;color:#666565;">
                        <div style="padding-left: 20px;padding-top: 8px;padding-bottom: 8px;">
                          <span style="font-size: 14px;vertical-align: middle;">状态&nbsp;</span>
                          <select name="surveyState" style="vertical-align: middle;">
                            <option value="">不限</option>
                            <option value="0">设计</option>
                            <option value="1">发布</option>
                            <option value="2">结束</option>
                          </select>
                          &nbsp;&nbsp;
                          <span style="font-size: 14px;vertical-align: middle;">名称&nbsp;</span>
                          <input type="text" class="inputS1" name="surveyName" value="">
                          <input type="submit" value="查询" class="sbtn25 sbtn25_1"
                                                              style="font-size: 16px;">
                        </div>
                      </div>
                    </form>
                    <div class="card" style="margin-top: 15px;">
                      <div class="card-block">
                        <table class="contacts-table table table-hover" width="100%" cellpadding="0" cellspacing="0">
                          <tbody>
                            <tr>
                              <th style="text-align: center;" width="30">
                                <!-- <input type="checkbox">  --></th>
                              <th align="left">试卷</th>
                              <th align="left" width="100">创建者</th>
                              <th align="left" width="200">创建时间</th>
                              <th align="left" width="60">答卷</th>
                              <th align="left" width="80">状态</th>
                              <th align="center" width="220" style="padding-left: 10px;">操作</th>
                            </tr>
                            <tr th:each="survey : ${mySurveys.content}">
                              <td align="center">
                                <input type="hidden" name="surveyId" value="${survey.id}"/>
                              </td>
                              <td align="left">
                                <a class="titleTag" target="_blank" th:href="${survey.htmlPath}"
                                                    th:text="${survey.surveyName}"></a>
                              </td>
                              <td align="left" width="100" th:text="${survey.userName}"></td>
                              <td align="left" th:text="${survey.createdDate}"></td>
                              <td align="left" th:text="${survey.answerNumber}">0</td>
                              <td align="left">
                                收集
                              </td>
                              <td align="left">
                                <div class="btn-group surveyLeftBtnGroup">
                                  <a class="btn btn-default"
                                     th:href="@{/design/my-survey-design.action?surveyId=402880e55cb9c629015cb9d31eff0000}"
                                     title="" data-toggle="tooltip" data-placement="top"
                                                                    data-original-title="设计"><i
                                                                    class="fa fa-pencil-square-o"></i></a>
                                  <a class="btn btn-default"
                                     href="/design/my-collect.action?surveyId=402880e55cb9c629015cb9d31eff0000"
                                     title="" data-toggle="tooltip" data-placement="top"
                                                                    data-original-title="收集答卷"><i
                                                                    class="fa fa-comments-o"></i></a>
                                  <a class="btn btn-default"
                                     href="/da/survey-report!defaultReport.action?surveyId=402880e55cb9c629015cb9d31eff0000"
                                     title="" data-toggle="tooltip" data-placement="top"
                                                                    data-original-title="分析报告"><i
                                                                    class="fa fa-line-chart"></i></a>
                                  <a class="btn btn-default copySurvey"
                                     href="#402880e55cb9c629015cb9d31eff0000" title=""
                                                                              data-toggle="tooltip" data-placement="top"
                                                                                                    data-original-title="复制一份"><i class="fa fa-files-o"></i></a>
                                  <a class="btn btn-default deleteSurvey"
                                     href="/design/my-survey!delete.action?id=402880e55cb9c629015cb9d31eff0000"
                                     title="" data-toggle="tooltip" data-placement="top"
                                                                    data-original-title="删除试卷"><i
                                                                    class="fa fa-trash-o fa-fw"></i></a>
                                </div>&nbsp;
                                <div class="btn-group" style="display: none;">
                                  <!-- <a class="btn btn-default" href="#"><i class="fa fa-eye"></i></a> -->
                                  <a class="btn btn-default" href="#"><i
                                                             class="fa fa-trash-o fa-fw"></i></a>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <hr>
                        <ul class="nav nav-pills">
                          <li class="nav-item" th:each="i : ${#numbers.sequence(1, mySurveys.totalPages)}">
                            <a class="nav-link" th:href="@{/mySurveys/(page=${i - 1})}" th:text="${i}" th:classappend="${currentPage} == ${i - 1} ? 'active' : ''"></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="dw_foot" style="padding-top:20px;">
          <div class="footer-copyright" style="color: gray;padding-top: 0px;font-size: 16px;padding-bottom: 16px;">
            Powered by <a href="http://www.dwsurvey.net" style="text-decoration: none;color: gray;">DWSurvey</a>
            &nbsp;&nbsp;&nbsp;Copyright © 2012-2018
            <a href="http://www.diaowen.net" style="text-decoration: none;color: rgb(53, 117, 136);">试卷</a>
          </div>
        </div>


      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
