<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content="Bootstrap Admin App + jQuery"/>
    <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin"/>
    <title>Pzhu University | 注册</title>
    <link rel="icon" href="https://github.com/fluidicon.png" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/vendor/fontawesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/simple-line-icons/css/simple-line-icons.css}"/>
    <link rel="stylesheet" th:href="@{/media/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/media/css/app.css}"/>
    <link rel="stylesheet" th:href="@{/media/css/theme-i.css}"/>
</head>
<body>
<div class="wrapper">
    <div class="block-center mt-xl wd-xl">
        <div class="panel panel-dark panel-flat">
            <div class="panel-heading text-center">
                <a href="/index">

                </a>
            </div>
            <div class="panel-body" id="registPage">
                <p class="text-center pv">快速注册新用户</p>
                <form id="form" autocomplete="off" th:action="@{/register}" action="#" th:object="${userEntity}" data-parsley-validate="true" method="post">
                    <div th:if="${confirmationMessage}" class="alert alert-success"
                         role="alert" th:text="${confirmationMessage}"></div>

                    <div th:if="${alreadyRegisteredMessage}"
                         class="alert alert-danger" role="alert"
                         th:text="${alreadyRegisteredMessage}"></div>

                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                         class="validation-message alert alert-danger" role="alert"></div>

                    <div class="form-group has-feedback">
                        <label for="signupInputEmail1" class="text-muted">登录邮箱</label>
                        <input id="signupInputEmail1" type="email" placeholder="输入邮箱地址" class="form-control"
                               v-model="email" data-parsley-required-message="请输入邮箱地址"
                               data-parsley-type-message="请输入正确的邮箱地址" required="required"
                               data-error="此电子邮件地址无效"
                               th:field="*{email}"/>
                        <span class="fa fa-envelope form-control-feedback text-muted"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="signupInputName" class="text-muted">登录名称</label>
                        <input id="signupInputName" type="text" placeholder="我们该如何称呼您？" class="form-control"
                               v-model="userName" data-parsley-required-message="请输入登录名称" required="required"
                               th:field="*{name}"/>
                        <span class="fa fa-user form-control-feedback text-muted"></span>
                    </div>
                    <button type="submit" class="btn btn-block btn-primary mt-lg">创建账户</button>
                </form>
                <p></p>
                <div id="errorMsg" class="alert alert-danger text-center" style="display:none;"></div>
                <p class="pt-lg text-center">已经有账户？</p>
                <a href="/login" class="btn btn-block btn-default">登录</a>
            </div>
        </div>
        <div class="p-lg text-center">
            <span>&copy;</span>
            <span>2017</span>
            <span>-</span>
            <span>2018</span>
            <br/>
            <span>790013438@qq.com</span>
        </div>
    </div>
</div>
<script type="text/javascript" src="/webjarslocator/jquery/jquery.min.js"></script>
<script th:src="@{/vue/1.0.24/vue.min.js}"></script>
<script th:src="@{/vue-resource/0.7.0/dist/vue-resource.min.js}"></script>
<script th:src="@{/vendor/parsleyjs/dist/parsley.min.js}"></script>
</body>
</html>