<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content="Bootstrap Admin App + jQuery"/>
    <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin"/>
    <title>Pzhu University | 注册</title>
    <link rel="icon" href="https://github.com/fluidicon.png" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/vendor/fontawesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/simple-line-icons/css/simple-line-icons.css}"/>
    <link rel="stylesheet" th:href="@{/media/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/media/css/app.css}"/>
    <link rel="stylesheet" th:href="@{/media/css/theme-i.css}"/>
</head>
<body>
<div class="wrapper">
    <div class="block-center mt-xl wd-xl">
        <div class="panel panel-dark panel-flat">
            <div class="panel-heading text-center">
                <a href="/index">
                    <svg height="32" class="octicon octicon-mark-github" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
                </a>
            </div>
            <div class="panel-body" id="registPage">
                <p class="text-center pv">快速注册新用户</p>
                <form id="form" autocomplete="off" th:action="@{/register}" action="#" th:object="${userEntity}" data-parsley-validate="true" method="post">
                    <div th:if="${confirmationMessage}" class="alert alert-success"
                         role="alert" th:text="${confirmationMessage}"></div>

                    <div th:if="${alreadyRegisteredMessage}"
                         class="alert alert-danger" role="alert"
                         th:text="${alreadyRegisteredMessage}"></div>

                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                         class="validation-message alert alert-danger" role="alert"></div>

                    <div class="form-group has-feedback">
                        <label for="signupInputEmail1" class="text-muted">登录邮箱</label>
                        <input id="signupInputEmail1" type="email" placeholder="输入邮箱地址" class="form-control"
                               v-model="email" data-parsley-required-message="请输入邮箱地址"
                               data-parsley-type-message="请输入正确的邮箱地址" required="required"
                               data-error="此电子邮件地址无效"
                               th:field="*{email}"/>
                        <span class="fa fa-envelope form-control-feedback text-muted"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="signupInputName" class="text-muted">登录名称</label>
                        <input id="signupInputName" type="text" placeholder="我们该如何称呼您？" class="form-control"
                               v-model="userName" data-parsley-required-message="请输入登录名称" required="required"
                               th:field="*{name}"/>
                        <span class="fa fa-user form-control-feedback text-muted"></span>
                    </div>
                    <button type="submit" class="btn btn-block btn-primary mt-lg">创建账户</button>
                </form>
                <p></p>
                <div id="errorMsg" class="alert alert-danger text-center" style="display:none;"></div>
                <p class="pt-lg text-center">已经有账户？</p>
                <a href="/login" class="btn btn-block btn-default">登录</a>
            </div>
        </div>
        <div class="p-lg text-center">
            <span>&copy;</span>
            <span>2016</span>
            <span>-</span>
            <span>2018</span>
            <br/>
            <span>790013438@qq.com</span>
        </div>
    </div>
</div>
<script type="text/javascript" src="/webjarslocator/jquery/jquery.min.js"></script>
<script th:src="@{/vue/1.0.24/vue.min.js}"></script>
<script th:src="@{/vue-resource/0.7.0/dist/vue-resource.min.js}"></script>
<script th:src="@{/vendor/parsleyjs/dist/parsley.min.js}"></script>
</body>
</html>