<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content="Bootstrap Admin App + jQuery"/>
    <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin"/>
    <title>PzhUniversity | 登录</title>
    <link rel="icon" th:href="@{/img/icon.ico}" type="image/x-icon" />

    <link rel="stylesheet" th:href="@{/vendor/fontawesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/simple-line-icons/css/simple-line-icons.css}"/>
    <link rel="stylesheet" th:href="@{/media/css/bootstrap.css}" id="bscss"/>
    <link rel="stylesheet" th:href="@{/media/css/app.css}"/>
    <link rel="stylesheet" th:href="@{/media/css/theme-i.css}" id="maincss"/>
  </head>
  <body>
    <div class="wrapper">
      <div class="block-center mt-xl wd-xl">
        <div class="panel panel-dark panel-flat">
          <div class="panel-heading text-center">
            <a href="/index">
              <img th:src="@{/img/logo.png}" alt="Image" class="block-center img-rounded"/>
            </a>
          </div>
          <div class="panel-body" id="loginPage">
            <p class="text-center pv">请登录</p>
            <form id="form" data-parsley-validate="true" name="form" th:action="@{/login}" action="/login" method="POST">
              <div class="form-group has-feedback">
                <input type="text" name="username" placeholder="邮箱地址或登录名称" class="form-control" data-parsley-error-message="请输入邮箱地址或登录名称" required="required" />
                <span class="fa fa-envelope form-control-feedback text-muted"></span>
              </div>
              <div class="form-group has-feedback">
                <input type="password" name="password" placeholder="密码" class="form-control" data-parsley-error-message="请输入密码" required="required" />
                <span class="fa fa-lock form-control-feedback text-muted"></span>
              </div>
              <div class="clearfix">
                <div class="pull-right">
                  <a href="/forgotPassword" class="text-muted">忘记密码？</a>
                </div>
              </div>
              <input type="submit" id="login" value="登录" class="btn btn-block btn-primary mt-lg"/>
            </form>

            <div id="errorMsg" class="alert alert-danger text-center" style="display:none;"></div>
            <p class="pt-lg text-center">需要注册？</p>
            <a href="/register" class="btn btn-block btn-default">现在就注册</a>
          </div>
        </div>
        <div class="p-lg text-center">
          <span>&copy;</span>
          <span>2018</span>
          <span>-</span>
          <span>2019</span>
          <br/>
          <span>790013438@qq.com</span>
        </div>
      </div>
    </div>
  </body>
</html>
