<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
  <meta charset="UTF-8">
</head>
<body>

<div>
    <div class="card">
    layout:fragment="content">
  <p class="card-body row justify-content-center align-items-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum maiores autem vel doloribus consequuntur harum
    commodi eos tenetur vitae asperiores!</p>
    </div>
</div>

</body>
</html>